*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(img/main-img.jpg) no-repeat center center/cover;
}
.container{
    width: 34rem;
    height: 28rem;
}
.header{
    background-color: rgb(24, 23, 23);
    padding: 0.7rem;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 1.2rem;
    color: white;
    margin: 1.2rem auto;
    width: 80%;
}
.content{
    background-color: rgba(227, 215, 215,0.7);
    border: 1px solid white;   
    width: 90%;
    margin: auto;
    border-radius: 8px;
    /* height:18rem; */
    padding: 3rem 2.5rem 0;
    box-shadow: 0 0 10px;   
}
.content .text-area{
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0 0 5px 0;
}
.content .user{
    color: rgb(234, 70, 76);
    font-size: 1.6rem;
    font-weight: 700;
    margin: 10px 0;
    padding: 5px 0;
    text-transform: uppercase;
}
.button-area #btn{
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 6px;
    margin: 1rem;
    color:rgb(45, 43, 43);
    background-color: white;
}

.button-area #btn:hover{
    cursor: pointer;
}

.button-area #btn:active{
    background-color:rgb(24, 23, 23) ;
    color: #fff;
}